- build_meta_tags title: "Events"

.container

  .pull-right.calendar-subscription
    = link_to events_url(format: 'ics', protocol: 'webcal'), class: 'btn btn-default' do
      %span.glyphicon.glyphicon-calendar
      Calendar Subscription
  
  %h1 Events

  - unless @current.empty?
    .row.current-meetups
      .col-md-12
        %h2 Ongoing Events
        = render :partial => @current

  - unless @upcoming.empty?
    .row.upcoming-meetups
      .col-md-12
        %h2 Upcoming Events
        = render :partial => @upcoming

  - unless @past.empty?
    .row.past-meetups
      .col-md-12
        %h2 Past Events
        = render :partial => @past
