$headings-font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-base: 'Cabin', Georgia, "Times New Roman", Times, serif !default;
$headings-font-weight: 900;

$rubyred: #e71111;
$salmon: #f03c3c;

$font-size-base: 16px !default;
$navbar-default-bg: $salmon;
$navbar-default-link-color:                #fff;
$navbar-default-link-hover-color:          #333 !default;
$navbar-default-link-hover-bg:             transparent !default;
$navbar-default-link-active-color:         #fff !default;
$navbar-default-link-active-bg:            darken($navbar-default-bg, 6.5%) !default;
$navbar-default-link-disabled-color:       #ccc !default;
$navbar-default-link-disabled-bg:          transparent !default;

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome';
@import 'gmaps4rails';
@import url(http://fonts.googleapis.com/css?family=Lato:100,100italic,900);
@import url(http://fonts.googleapis.com/css?family=Cabin:400,700);

.navbar {
  margin-bottom: 0;
}

.btn.btn-default {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  line-height: 22px;
  padding-right: 30px;
  padding-left: 30px;
  border-color: $salmon;
  color: $salmon;
  transition: all 200ms ease;

  &:hover {
    border-color: $salmon;
    background: $salmon;
    color: #fff;
  }
}

.jumbotron {
  min-height: 600px;
  background: $salmon;

  .ruby-logo {
    //margin: -25px 0 0 20px;
  }

  h1 {
    color: #fff;
    margin-bottom: 10px;
  }

  .copy {
    h3 {
      font-weight: 100;
      color: #fff;
    }

    p {
      font-family: $headings-font-family;
      color: #fff;
      font-weight: 100;
      letter-spacing: 1.1px;
    }
  }

  .down {
    text-align: center;
    .fa-chevron-down {
      margin-top: 30px;
      color: #fff;
      font-size: 300%;
    }
  }

}

@media (max-width: 979px) {
  .jumbotron {
    .ruby-logo {
      text-align: center;
      display: block;
      float: none;
      margin: 0 auto 20px;
    }
  }
}

.alert {
  margin-top: 20px;
}

.front-columns {

  h2 {
    font-size: 35px;
  }

  .cta {
    margin-top: 25px;
  }

  text-align: left;
  .col-md-4 {
    p {
      font-size: 18px;
      line-height: 1.5;
    }
    ul.community-links {
      list-style-type: none;
      margin: 0;
      padding: 0;
      a {
        font-size: 18px;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

.user-links {
  a {
    &:hover {
      text-decoration: none;
    }
  }
}

.event {
  padding: 5px 20px 10px;
  border-bottom: 1px solid #eee;
  p.event-time {
    color: gray;
    font-style: italic;
  }
  .map_container {
    width: 100%;
    margin-top: 25px;
    .gmaps4rails_map {
      width: 100%;
    }
  }
}

.calendar-subscription {
  margin-top: 30px;
}

.presentation {
  h3 {
    margin-bottom: 0px;
  }
  p.tags {
    font-size: 80%;
    font-style: italic;
  }
}

footer, .footer {
  margin-top: 50px;
  color: #aaa;
  text-align: center;
  a {
    color: #87BEE0;
  }
}

